@charset "utf-8";
/* CSS Document */
html {
	overflow: auto;
}
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.red-bold {
  font-weight: bold;
  color: red;
}

a{
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.fa-bell{
  color: rgb(252, 195, 7);
}

/* 1280px〜：大型PC
------------------------------ */


.main-visual {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.top__image img{
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.step_1 {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to create space between sections */
}

.step_1_text {
  width: 100%;
  text-align: center;
}
