@charset "utf-8";
/* CSS Document */
html {
	overflow: auto;
}
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.red-bold {
  font-weight: bold;
  color: red;
}

a{
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.fa-bell{
  color: rgb(252, 195, 7);
}

/* 1280px〜：大型PC
------------------------------ */


.main-visual {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.top__image img{
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.step_1 {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.step_1_paragraph {
  width: 100%;
  text-align: left;
}

.step_1_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.step_1_text {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_2 {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.step_2_paragraph {
  width: 100%;
  text-align: left;
}

.step_2_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.step_2_text {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_2_sub_title_first {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_3 {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.step_3_paragraph {
  width: 100%;
  text-align: left;
}

.step_3_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.step_3_text {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_3_sub_title_first {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_3_sub_title_second {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_4 {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.step_4_paragraph {
  width: 100%;
  text-align: left;
}

.step_4_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.step_4_text {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_4_sub_title_first {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}

.step_4_sub_title_second {
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}
