@charset "utf-8";
/* CSS Document */
html {
	overflow: auto;
}
body{
  height: 100%;
  overflow: hidden;

}

.red-bold {
  font-weight: bold;
  color: red;
}

a{
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.fa-bell{
  color: rgb(252, 195, 7);
}

/* 1280px〜：大型PC
------------------------------ */

header{
  display: block;
  width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    /* background: #f9f9f9; */
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: #768cc93d;

}

header h1{
  width: 40%;
    text-align: center;
    float: left;
    height: 100%;
    line-height: 80px;
    font-size: 20px;
}

.header_nav {
  width: 60%;
  float: right;
}

.header_nav ul {
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    line-height: 80px;
}

.header_nav ul li {
  margin-right: 30px;
  /* color: blue; */
  /* text-decoration: none; */

}

footer{
  text-align: center;
  background-color: rgb(3, 3, 3);
  color: #F5F5F5;
  height: 400px;
}

.contact__message{
  color: #F5F5F5;

}

.contact_information__box{
  display: flex;

}


.contact_information__left{
  width: 33%;
  margin-left: 28%;
  padding-top: 100px;

}


.contact_information__left__mail{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;

  cursor: pointer;

}



.fa-envelope{

  padding-top: 15px;
}

.fa-envelope:before{
  color: black;
  font-size: 30px;
  padding-top: 5px;
}



.contact_information__center{
  width: 33%;
  padding-top: 100px;

}


.contact_information__center__twitter{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #ffffff;
  border: 2px solid #ffffff;

  cursor: pointer;

}



.fa-twitter{

  padding-top: 16px;
}

.fa-twitter:before{
  color: black;
  font-size: 30px;
  padding-top: 5px;
}





.contact_information__right{
  width: 33%;
  margin-right: 14%;
  padding-top: 100px;

}


.contact_information__right__wantedly{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #ffffff;
  border: 2px solid #ffffff;

  cursor: pointer;

}



.fa-address-book{

  padding-top: 16px;
}

.fa-address-book:before{
  color: black;
  font-size: 30px;
  padding-top: 5px;
}

address{
  text-align: center;
  margin-top: 50px;

}

#menu div {
  position: relative;
}


.arrow_box1 {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box1:after {
  position: absolute;
  bottom: 100%;
  left: 10%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}


.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}




.btn_top{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #a9edfe;
  border: 2px solid #00a1e9;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}

.btn_top i{
  line-height: 60px;
    text-align: center;
    margin-left: 21px;
    color: white;
    font-size: 30px;
}


.main-visual {
  width: 100%;
  max-width: 1440px;
  /* margin: 80px auto 100px; */

  margin-top: -80px;

  margin-bottom: 0px;

  display: flex;
  flex-direction: row;
  height: 790px;
}
.top__image{
  width:100%;
  position: relative;
  overflow: hidden;
  transform: skewY(-6deg);

}

.top__image img{
  background-image:url(DSC040141.JPG);  /* 画像のURLを指定     */
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height: 790px;
  



  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  /* background-image: linear-gradient(#9437FF, #7A81FF); */
  transform: skewY(6deg);
  transform-origin: top left;
}




.ribbon2 {
  left: 18.5%;
  top: 475px;
  display: inline-block;
  position: absolute;
  /* position: relative; */
  height: 150px;
  line-height: 60px;
  text-align: center;
  padding: 0px 0;
  font-size: 46px;/*フォントサイズ*/
  background: #78d0f5;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
  object-fit: cover; 
  transform: skewY(6deg);

}

.ribbon2 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 15px #FFF;/*上の破線*/
  border-bottom: dashed 15px #FFF;/*下の破線*/
  line-height: 60px;
  font-style : oblique;
}

.ribbon2:before, .ribbon2:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 91px;
  z-index: 1;
}

.ribbon2:before {
  /*左端の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 0px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon2:after {
  /*右端の山形*/
  top: 0;
  right: 0;
  border-width: 30px 0px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}



.top__message {
  width: 40%;
  height: 50%;
  top: 275px;
  right: 165px;
  opacity: 1;
  position: absolute;
  background-color: rgba(247, 191, 123, 0.8);
  transform: skewY(6deg);

}

.top__message__title{
  color: rgb(243, 49, 49);
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.top__message__inner {
  width: 100%;
  height: 100%;
  
  margin: 90px;
  margin-top: 12px;
  margin-left: 112px;
  opacity: 2;
  /* position: absolute; */
  background-color: rgba(255,255,200,0.8);
  /* transform: skewY(6deg); */

}

.top__message__inner p{
  margin: 20px;
  font-size: 20px;
  padding-top: 20px;


}
.aboutme_category{
  /* width: 100%; */
  height: 100%;
  /* overflow: visible; */

  margin-top: 40px;
  margin-bottom: 30px;
}



.aboutme_category__top{
  text-align: center;
  height: 150px;

}

.main__container__introduction{
  display: flex;
  text-align: center;
}

.main__container__introduction__leftside{
  width: 50%;
}

.introduce__image img{

  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.aboutme__sns p{
  margin-top: 10px;
}

.twitter a{
  color: rgb(29, 161, 242);
}

.github a{
  color: rgb(0, 0, 1);
}

.qiita a {
  color: #55c500;
}

.wantedly a{
  color: rgb(1, 5, 247);
}
  


.main__container__introduction__rightside{
  width: 50%;
  text-align: left;
  
}

.personal__informaition__title{
  font-size: 20px;

}

.personal__informaition ul li{
  margin: 10px;
}




.career__informaition{
  margin-top: 30px;

}

.career__informaition__title{
  font-size: 20px;
}

.career__informaition ul li{
  margin: 20px;
  margin-left: 0px;
 /* height: auto; */
   /* height: 1200px; */
}

.career1__text{
  margin-left: 40px;
  width: 80%;
}
/* .career1__text p{
  padding: 10px;
} */


.career2__text{
  margin-left: 40px;
  width: 80%;
}

.career3__text{
  margin-left: 40px;
  width: 80%;
}
.career3__text p{
  margin-top: 5px;
}

.career4__text{
  margin-left: 40px;
  width: 80%;
}
.career4__text p{
  margin-top: 5px;
}


.career__objective{
  margin-top: 20px;
  margin-right: 60px;
}


.career__objective__title{
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: -20px;

}

.career__objective__reason{
  margin-left: 20px;
}

.career__objective__reason__main{
  margin: 10px 0px;
  margin-left: 20px;

}

.career__objective__reason__first{
  margin-top: 20px;
  margin-left: 20px;


}

.career__objective__reason__second{
  margin-top: 30px;
  margin-left: 20px;

}

.career__objective__reason__third{
  margin-top: 30px;
  margin-left: 20px;

}

.skills_category{
  width: 100%;
  height: 975px;
  background-color: rgb(110, 182, 245);
}




.skills_category__top{
  text-align: center;
  
}



.skills_category_language{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 60px auto 0;
}


.skills_category_language__top{
  text-align: center;
  display: flex;

}

.skills_category_language__topLeft{
  position: relative;


  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  /* margin-bottom: 20px; */
  margin-right: 20px;
  /* line-height: 250px; */
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;


}

.skills_category_language__topLeft span{
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* width :80px; */
  text-align:center;
}


.skills_category_language_topMiddle{
  position: relative;


  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}

.skills_category_language_topMiddle span{
  position: absolute;
  display: inline-block;
  left: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

.skills_category_language__topRight{
  position: relative;


  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}


.skills_category_language__topRight span{
  position: absolute;
  display: inline-block;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

.skills_category_language__middle{
  text-align: center;
  display: flex;
}

.skills_category_language__middleLeft{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.skills_category_language__middleLeft span{
  position: absolute;
  display: inline-block;
  left: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

.skills_category_language_middleCenter{
  position: relative;


  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}

.skills_category_language_middleCenter span{
  position: absolute;
  display: inline-block;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

.skills_category_language__middleRight{
  /* width: 50%; */
  position: relative;
 
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.skills_category_language__middleRight span{
  position: absolute;
  display: inline-block;
  left: 73px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

.skills_category_language__under{
  text-align: center;
  display: flex;
}

.skills_category_language__underLeft{

  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;

  line-height: 250px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.skills_category_language_underMiddle{
  /* width: 30%; */
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;

  line-height: 250px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;


}

.skills_category_language__underRight{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: #fff;
  margin-right: 20px;
  border: 2px solid #00a1e9;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}


.skills_category_language__underRight span{
  position: absolute;
  display: inline-block;
  left: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

.portfolio_category{
  width: 100%;
  /* height: 5785px; */
  height: 100%;
}



.fa, .far, .fas {
font-family: "Font Awesome 5 Free";
}

h2{
  font-size: 25px;
  margin-left: 20px;
  color: #fcff54;
}

h4{
  font-size: 25px;
  text-align: center;
  color: #fdd845;
  padding-top: 20px;
}

.theme{
  text-align: center;
  font-size: 45px;
  margin-top: -7px;
  font-weight: bold;
}

.theme2{
  text-align: center;
  font-size: 45px;
  margin-top: -7px;
  font-weight: bold;
  color: #F5F5F5;

}

.applyKind{
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  font-style : italic;

}

.portfolio_category__program1{
  /* height: 840px; */
  height: 100%;

}


.portfolio_category__program1__top{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.under{
  background: linear-gradient(transparent 50%, #a8eaff 50%);
}
.under1{
  background: linear-gradient(transparent 50%, #fe3d60 50%);
}
.under2{
  background: linear-gradient(transparent 50%, #aefd63 50%);
}

.portfolio_category__program1__title{
  text-align: center;

}

.portfolio_category__program1__title p{

   /* margin-left: 35%; */
   color: #364e96;/*文字色*/
   border: solid 3px #364e96;/*線色*/
   padding: 0.5em;/*文字周りの余白*/
   border-radius: 0.5em;/*角丸*/
   font-size: 25px;
   display: inline-block;
   width: 300px;
}

.portfolio_category__program1__main{
  display: flex;
  text-align: center;
}

.portfolio_category__program1__main__left{
  width: 50%;
}

.portfolio_category__program1__main__left__image img{
  width: 435px;
  height: 257px;
  box-shadow: 2px 2px 4px gray;
}
.portfolio_category__program1__main__left__video video{
  width: 438px;
  /* height: 310px; */
  box-shadow: 2px 2px 4px gray;
}

.portfolio_category__program1__main__right{
  width: 50%;
  text-align: left;

}

.portfolio_category__program1__main__right__overview{
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio_category__program1__main__right__overview__title{
font-size: 20px;

}

.portfolio_category__program1__main__right__overview li{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}



.portfolio_category__program1__main__right__usedskill{
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio_category__program1__main__right__usedskill__title{
  font-size: 20px;
}

.portfolio_category__program1__main__right__usedskill p{
  margin-bottom: 10px;
}

ul.skillList {
  border: solid 2px #668ad8;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  width: 60%;
}

ul.skillList li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

ul.skillList li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #668ad8; /*アイコン色*/
}

.portfolio_category__program1__main__right__kodawari{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.portfolio_category__program1__main__right__kodawari__title{
  font-size: 20px;
}

.portfolio_category__program1__main__right__kodawari li{
  margin-top: 10px;
  margin-left: 20px;
}

.portfolio__detailed_design{
  margin-left: 40px;


}

.portfolio_category__program2{
  background-color: rgb(244, 249, 250);
  padding-bottom: 40px;
}
.portfolio_category__program2__top{
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}


.portfolio_category__program2__title{
  text-align: center;

}

.portfolio_category__program2__title p{

   /* margin-left: 35%; */
   color: #364e96;/*文字色*/
   border: solid 3px #364e96;/*線色*/
   padding: 0.5em;/*文字周りの余白*/
   border-radius: 0.5em;/*角丸*/
   font-size: 25px;
   display: inline-block;
   width: 447px;
}

.portfolio_category__program2__main{
  display: flex;
  padding-bottom: 50px;
  /* text-align: center; */
}

.portfolio_category__program2__main__left{
  width: 50%;
    text-align: center;

}

.portfolio_category__program2__main__left__image img{
  box-shadow: 2px 2px 4px gray;

  width: 435px;
}

.portfolio_category__program2__main__left__androidImage img{
  box-shadow: 2px 2px 4px gray;

  width: 200px;
    height: 400px;
    border-radius: 33px;
}

.portfolio_category__program2__main__left__androidVideo video {
  box-shadow: 2px 2px 4px grey;
  width: 195px;
  height: 400px;
  border-radius: 33px;
}

.portfolio_category__program2__main__left__video video{
  box-shadow: 2px 2px 4px gray;

  width: 435px;
  /* height: 237px; */
}

.portfolio_category__program2__main__right{
  width: 50%;
}

.portfolio_category__program3{
  padding-bottom: 50px;
}

.portfolio_category__program3__top{
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}



.portfolio_category__program3__title{
  text-align: center;

}

.portfolio_category__program3__title p{

   /* margin-left: 35%; */
   color: #364e96;/*文字色*/
   border: solid 3px #364e96;/*線色*/
   padding: 0.5em;/*文字周りの余白*/
   border-radius: 0.5em;/*角丸*/
   font-size: 25px;
   display: inline-block;
   width: 300px;
}

.portfolio_category__program3__main{
  display: flex;
}

.portfolio_category__program3__main__left{
  width: 50%;
  text-align: center;

}

.portfolio_category__program3__main__left__image img{
  box-shadow: 2px 2px 4px gray;

  width: 435px;
  /* height: 257px; */
}

.portfolio_category__program3__main__left__video video{
  box-shadow: 2px 2px 4px gray;

  width: 435px;
  /* height: 273px; */
}

.portfolio_category__program3__main__right{
  width: 50%;
}


.portfolio_category__program4__main{
  display: flex;
}

.portfolio_category__program4__main__left__title p{
  margin: 30px 0px 20px 0px;
  font-size: 22px;
}


.portfolio_category__program4__main__left{
  width: 33%;
  text-align: center;

}
.portfolio_category__program4__main__center{
  width: 33%;
  text-align: center;

}

.portfolio_category__program4__main__center__title p{
  margin: 30px 0px 20px 0px;
  font-size: 22px;
}

.portfolio_category__program4__main__right{
  width: 33%;
  text-align: center;

}

.portfolio_category__program4__main__right__title p{
  margin: 30px 0px 20px 0px;
  font-size: 22px;
}

.capture_video4{
  width: 200px;
  height: 400px;
  border-radius: 33px;
}


.portfolio_category__program4__main__left__video video{
  box-shadow: 2px 2px 4px gray;

  width: 435px;
  /* height: 241px; */
}


.portfolio_category__program4__under {
  display: flex;
}



.portfolio_category__program4__under__left__usedskill {
  margin: 50px;
  margin-left: 140px;
  width: 50%;
}

.portfolio_category__program4__main__right__kodawari {
  margin: 50px;
  width: 50%;

 
}

.portfolio_category__program4__main__right__kodawari__title{
  font-size: 20px;
}

.portfolio_category__program4__main__right__kodawari li{
  margin-top: 10px;
  margin-left: 20px;
}

.portfolio_category__program5__main__left__video video {
  box-shadow: 2px 2px 4px grey;
  width: 435px;
  /* height: 260px; */
  
}


.other_activity{
  width: 100%;
  height: 2450px;
background-color: rgb(240, 240, 240);
}

h5{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;

}

.learning__output__log{
  height: 740px;
}


.learning__output__log__top{
  display: flex;
}



.learning__output__log__top__right{
  width: 50%;

}

.learning__output__log__top__right p{
margin-bottom: 10px;

font-weight: bold;


}

.learning__output__log__top__right i{
  margin-left: 30px;
  margin-bottom: 10px;

}

.learning__output__log__top__right li{
  margin-left: 60px;
  margin-bottom: 10px;

}

.learning__output__log__top__left{
  width: 50%;
  text-align: center;

}


.learning__output__log__middle{
  display: flex;
}

.learning__output__log__middle__right{
  width: 50%;
  text-align: center;
}

.learning__output__log__middle__left{
  width: 50%;
}

.learning__output__log__under{
  display: flex;
}

.learning__output__log__under__right{
  text-align: center;
  width: 50%;
}

.learning__output__log__under__left{
  width: 50%;
}

.learning__output__log__image1 img{
  width: 80%;
  height: 155px;
  box-shadow: 2px 2px 4px gray;
}

.learning__output__log__image2 img{
  width: 80%;
  height: 200px;
  box-shadow: 2px 2px 4px gray;

}

.learning__output__log__image3 img{
  width: 80%;
  height: 200px;
  box-shadow: 2px 2px 4px gray;

}

.learning__output__log__image4 img{
  width: 80%;
  height: 270px;
  box-shadow: 2px 2px 4px gray;

}
.learning__output__log__image5 img{
  width: 80%;
  height: 270px;
  box-shadow: 2px 2px 4px gray;

}





.learning__output__qiita{
  padding-top: 70px;
  background-color: rgb(255, 255, 255);
  height: 650px;
  /* background-color: rgb(244, 249, 250); */

}


.learning__output__qiita__top{
  display: flex;

}



.learning__output__qiita__top__left{
  width: 50%;
  text-align: center;

}



.learning__output__qiita__image1 img{
  width: 80%;
  height: 270px;
  margin-left: 40px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px gray;

}

.learning__output__qiita__top__right p{
margin-left: 60px;
margin-bottom: 10px;

font-weight: bold;
}

.learning__output__qiita__top__right i{
  margin-left: 90px;
  margin-bottom: 10px;

}

.learning__output__qiita__top__right li{
  margin-left: 120px;
  margin-bottom: 10px;

}

.learning__output__qiita__top__right{
  width: 50%;

}





.join__seminar__first{
  display: flex;


}

.join__seminar__first__right{
  width: 50%;
  margin-right: 30px;
}


.join__seminar__first__right p{
  margin-left: 60px;
  margin-bottom: 10px;
  
  font-weight: bold;
  }

  .join__seminar__first__right i{
    margin-left: 90px;
    margin-bottom: 10px;
  
  }

  .join__seminar__first__right li{
    margin-left: 120px;
    margin-bottom: 10px;
  
  }


.join__seminar__first__left{
  width: 50%;
  text-align: center;

}

.join__seminar__first__left__image1 img{
  width: 400px;
  height: 285px;
  box-shadow: 2px 2px 4px gray;
  object-fit: cover; 
}


.appealPoint_category{
  width: 100%;
  height: 500px;
  /* background-color: #F5F5F5; */
  background-color: rgb(59, 159, 241);
  overflow: hidden;

}

.appealPoint_category__main{
  display: flex;
  /* margin: 20px; */
  /* position: relative; */

  transform: skewX(-15deg);
  width: 100px;
  /* height: 50px;
  margin:0 auto; */



}




.appeal-theme{
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 196, 0);
  text-align: center;
  margin: 10px;
}






.appealPoint_category__main__left{
  width: 350px;
  /* height: 200px; */
  height: auto;

  background-color: #F5F5F5;
  margin-left: 65px;
  margin-top: 40px;


}

.appeal-sentence{
  width: 350px;
  /* height: 200px; */
  height: 150px;
  font-size: 20px;
  margin: 5px;

}

.appealPoint_category__main__center{
  /* width: 25%; */
  width: 350px;

  /* height: 200px; */
  height: auto;

  background-color: #F5F5F5;
  margin-left: 65px;
  margin-top: 40px;

}
.appealPoint_category__main__right{
  /* width: 25%; */
  width: 350px;

  /* height: 200px; */
  height: auto;

  background-color: #F5F5F5;
  margin-left: 65px;
  margin-top: 40px;
}









/* 901px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:901px) and (max-width:1279px) {


.main-visual {
  width: 100%;
  max-width: 1440px;
  /* margin: 80px auto 100px; */

  margin-top: -80px;

  margin-bottom: 0px;

  display: flex;
  flex-direction: row;
  height: 1000px;
  /* height: 20%;  */
}
.top__image{
  width:100%;
  position: relative;
  overflow: hidden;
  transform: skewY(-6deg);

}

.top__image img{
  background-image:url(DSC040141.JPG);  /* 画像のURLを指定     */
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height: 790px;
  



  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  /* background-image: linear-gradient(#9437FF, #7A81FF); */
  transform: skewY(6deg);
  transform-origin: top left;
  object-fit: cover;
  object-position: 100% 100%;
}




.ribbon2 {
  /* left: 36.5%;
  top: 200px; */
  top: 180px;
  right: 205px;
  display: inline-block;
  position: absolute;
  /* position: relative; */
  height: 150px;
  line-height: 60px;
  text-align: center;
  padding: 0px 0;
  font-size: 46px;/*フォントサイズ*/
  background: #78d0f5;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
  object-fit: cover; 
  transform: skewY(6deg);

}

.top__message {
  width: 40%;
  height: 50%;
  top: 375px;
  right: 335px;
  opacity: 1;
  position: absolute;
  background-color: rgba(247, 191, 123, 0.8);
  transform: skewY(6deg);

}


.top__message__title{
  color: rgb(243, 49, 49);
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.top__message__inner {
  width: 100%;
  height: 100%;
  
  margin: 90px;
  margin-top: 12px;
  margin-left: 0px;
  opacity: 2;
  /* position: absolute; */
  background-color: rgba(255,255,200,0.8);
  /* transform: skewY(6deg); */

  }


  .aboutme_category{
    /* width: 100%; */
    height: 100%;
    /* overflow: visible; */
  
    margin-top: 40px;
    margin-bottom: 30px;
  }
 
  .learning__output__log__top__right{
    width: 50%;
    margin-right: 30px;
  }

  .learning__output__qiita__top__right{
    width: 50%;
    margin-right: 20px;
  }

  .learning__output__qiita{
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(244, 249, 250); */

    height: 650px;
  
  }


  .portfolio_category{
    width: 100%;
    /* height: 6105px; */
    height: 100%;
  }



  .appealPoint_category{
    width: 100%;
    height: 900px;
    /* background-color: #F5F5F5; */
    background-color: rgb(59, 159, 241);
    overflow: hidden;
  
  }
  
  .appealPoint_category__main{
    display: block;
  
    transform: skewX(-15deg);
    width: 100%;
  
  }
  
  .appealPoint_category__main__left{
    width: 350px;
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 310px;
    margin-top: 40px;
  
  
  }
  
  
  .appealPoint_category__main__center{
    /* width: 25%; */
    width: 350px;
  
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 310px;
    margin-top: 40px;
  }
  .appealPoint_category__main__right{
    /* width: 25%; */
    width: 350px;
  
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 310px;
    margin-top: 40px;
  }

}
 
/* 700px〜900px：タブレット
------------------------------ */
@media screen and (min-width:700px) and (max-width:900px) {


  .main-visual {
    width: 100%;
    max-width: 1440px;
    /* margin: 80px auto 100px; */
  
    margin-top: -80px;
  
    margin-bottom: 0px;
  
    display: flex;
    flex-direction: row;
    height: 1000px;
    /* height: 20%;  */
  }
  .top__image{
    width:100%;
    position: relative;
    overflow: hidden;
    transform: skewY(-6deg);
  
  }
  
  .top__image img{
    background-image:url(DSC040141.JPG);  /* 画像のURLを指定     */
    background-size:cover;                                 /* 画像のサイズを指定  */
    width:100%;                                            /* 横幅のサイズを指定  */
    height: 790px;
    
  
  
  
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    /* background-image: linear-gradient(#9437FF, #7A81FF); */
    transform: skewY(6deg);
    transform-origin: top left;
    object-fit: cover;
    object-position: 100% 100%;
  }
  
  
  
  
  .ribbon2 {
    /* left: 36.5%;
    top: 200px; */
    top: 180px;
    right: 135px;
    display: inline-block;
    position: absolute;
    /* position: relative; */
    height: 150px;
    line-height: 60px;
    text-align: center;
    padding: 0px 0;
    font-size: 46px;/*フォントサイズ*/
    background: #78d0f5;/*背景色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
    object-fit: cover; 
    transform: skewY(6deg);
  
  }
  
  .top__message {
    /* width: 40%; */
    /* height: 50%; */
        width: 400px;

    top: 375px;
    right: 205px;
    opacity: 1;
    position: absolute;
    background-color: rgba(247, 191, 123, 0.8);
    transform: skewY(6deg);
  
  }
  
  
  .top__message__title{
    color: rgb(243, 49, 49);
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
  }
  
  .top__message__inner {
    width: 100%;
    height: 100%;
    
    margin: 90px;
    margin-top: 12px;
    margin-left: 0px;
    opacity: 2;
    /* position: absolute; */
    background-color: rgba(255,255,200,0.8);
    /* transform: skewY(6deg); */
  
  }
  







  .aboutme_category{
    /* width: 100%; */
    height: 100%;
    /* overflow: visible; */
  
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .main__container__introduction{
    display: block;
    text-align: center;
  }

  .main__container__introduction__leftside{
    width: 100%;
  }

  .main__container__introduction__rightside{
    width: 80%;
    /* text-align: center; */

    /* text-align: left; */
    margin-top: 30px;
    margin-left: 70px;
  }


  .skills_category{
    width: 100%;
    height: 100%;
    background-color: rgb(110, 182, 245);
    padding-bottom: 30px;
  }

  .skills_category_language{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto 0;
    text-align: center;
    width: 30%;

  }

  .skills_category_language__top{
    text-align: center;
    display: block;
  
  }
  .skills_category_language__middle{
    text-align: center;
    display: block;
  
  }



  .skills_category_language__under{
    text-align: center;
    display: block;
  
  }



  .portfolio_category{
    width: 100%;
    /* height: 9350px; */
    height: 100%;
  }

  .portfolio_category__program1 {
    height: 1530px;
}

  .portfolio_category__program1__main{
    display: block;
    /* margin-left: 200px; */
  }
  
  .portfolio_category__program1__main__left{
    width: 100%;
  }

  .portfolio_category__program1__main__right{
    text-align: left;
    width: 70%;

      margin-left: 180px;

  }
  


  .portfolio_category__program2__main{
    display: block;
    margin-bottom: 20px;
  }
  
  .portfolio_category__program2__main__left{
    width: 100%;
  }

  .portfolio_category__program2__main__right{
    text-align: left;
      margin-left: 180px;
      width: 70%;

  }

  .portfolio_category__program3__main{
    display: block;
    /* margin-left: 200px; */
  }
  
  .portfolio_category__program3__main__left{
    width: 100%;
  }

  .portfolio_category__program3__main__right{
    text-align: left;
      margin-left: 180px;
      width: 70%;


  }

  .portfolio_category__program4__main{
    display: block;
    margin-bottom: 20px;

  }
  
  .portfolio_category__program4__main__left{
    width: 100%;
  }

  .portfolio_category__program4__main__center{
    width: 100%;
  }

  .portfolio_category__program4__main__right{
    text-align: center;
      /* margin-left: 180px; */
      width: 100%;
    }

  .portfolio_category__program4__under {
    display: block;
}

.portfolio_category__program4__under__left__usedskill {
  margin: 50px;
  margin-left: 220px;
  width: 70%;

}

.portfolio_category__program4__main__right__kodawari {
  margin: 50px;
  margin-left: 220px;
  width: 100%;
}

  .portfolio_category__program5__main{
    display: block;
    /* margin-left: 200px; */
  }
  
  .portfolio_category__program5__main__left{
    width: 100%;
  }

  .portfolio_category__program5__main__right{
    text-align: left;
      margin-left: 180px;

  }

  .learning__output__log{
    height: 927px;
  }


  .learning__output__log__top{
    display: block;
  }

  .learning__output__log__top__right{
  margin: 40px;  
  }

  .learning__output__log__top__right {
    width: 100%;
}
  
  .learning__output__log__top__left{
    width: 100%;
    text-align: center;
  
  }

  .learning__output__qiita{
    padding-top: 70px;
    /* background-color: rgb(244, 249, 250); */
    height: 800px;
  
  }
  
  
  .learning__output__qiita__top{
    display: block;
  
  }


  .learning__output__qiita__top__left{
    width: 100%;
    text-align: center;
  
  }

  .learning__output__qiita__top__right{
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;
  
  }

  .other_activity{
    width: 100%;
    height: 3000px;
  /* background-color: rgb(240, 240, 240); */
  }



  .join__seminar__first{
    display: block;
  
  
  }
  
  .join__seminar__first__right{
    width: 100%;
    margin-right: 30px;
    margin-top: 10px;
  }
  
  
  .join__seminar__first__left{
    width: 100%;
    text-align: center;
  
  }

  .appealPoint_category{
    width: 100%;
    height: 900px;
    /* background-color: #F5F5F5; */
    background-color: rgb(59, 159, 241);
    overflow: hidden;
  
  }
  
  .appealPoint_category__main{
    display: block;
  
    transform: skewX(-15deg);
    width: 100%;

  
  }
  
  .appealPoint_category__main__left{
    width: 350px;
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 200px;
    margin-top: 40px;
  
  
  }
  
  
  .appealPoint_category__main__center{
    /* width: 25%; */
    width: 350px;
  
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 200px;
    margin-top: 40px;
  }
  .appealPoint_category__main__right{
    /* width: 25%; */
    width: 350px;
  
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 200px;
    margin-top: 40px;
  }



 
}
 
 
/* 480px〜699px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:699px) { 

  header{
    display: block;
    width: 100%;
      position: fixed;
      top: 0;
      height: 80px;
      /* background: #f9f9f9; */
      overflow: hidden;
      font-family: 'Lato', sans-serif;
      z-index: 10;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      background: #768cc93d;
      font-size: 10px;
  }

  .header_title{
    font-size: 15px;

  }
  .header_nav ul li {
    margin-right: 15px;
    /* color: blue; */
    /* text-decoration: none; */
}

.contact_information__left{
  width: 33%;
  margin-left: 20%;
  padding-top: 100px;

}

  .main-visual {
    width: 100%;
    max-width: 1440px;
    /* margin: 80px auto 100px; */
  
    margin-top: -80px;
  
    margin-bottom: 0px;
  
    display: flex;
    flex-direction: row;
    height: 1000px;
    /* height: 20%;  */
  }
  .top__image{
    width:100%;
    position: relative;
    overflow: hidden;
    transform: skewY(-6deg);
  
  }
  
  .top__image img{
    background-image:url(DSC040141.JPG);  /* 画像のURLを指定     */
    background-size:cover;                                 /* 画像のサイズを指定  */
    width:100%;                                            /* 横幅のサイズを指定  */
    height: 790px;
    
  
  
  
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    /* background-image: linear-gradient(#9437FF, #7A81FF); */
    transform: skewY(6deg);
    transform-origin: top left;
    object-fit: cover;
    object-position: 100% 100%;
  }
  
  
  
  
  .ribbon2 {
    left: 13%;
    top: 180px;
    display: inline-block;
    position: absolute;
    /* position: relative; */
    height: 150px;
    line-height: 60px;
    text-align: center;
    padding: 0px 0;
    font-size: 46px;/*フォントサイズ*/
    background: #78d0f5;/*背景色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
    object-fit: cover; 
    transform: skewY(6deg);
  
  }
  
  .top__message {
    /* width: 340px; */
    width: 60%;
    top: 375px;
    /* right: 90px; */
    left: 80px;
    opacity: 1;
    position: absolute;
    background-color: rgba(247, 191, 123, 0.8);
    transform: skewY(6deg);

  }
  
  
  .top__message__title{
    color: rgb(243, 49, 49);
    font-size: 27px;
    font-weight: bold;
    margin: 10px;
  }
  
  .top__message__inner {
    width: 100%;
    height: 100%;
    
    margin: 90px;
    margin-top: 12px;
    margin-left: 0px;
    opacity: 2;
    /* position: absolute; */
    background-color: rgba(255,255,200,0.8);
    /* transform: skewY(6deg); */
  
  }
  

  .top__message__inner p {
    margin: 20px;
    font-size: 16px;
    padding-top: 20px;
}



 
  .aboutme_category{
    /* width: 100%; */
    height: 100%;
    /* overflow: visible; */
  
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .main__container__introduction{
    display: block;
    text-align: center;
  }

  .main__container__introduction__leftside{
    width: 100%;

  }

  .main__container__introduction__rightside{
    width: 80%;
    /* text-align: center; */

    /* text-align: left; */
    margin-top: 30px;
    margin-left: 70px;
  }

  
  .skills_category{
    width: 100%;
    height: 100%;
    background-color: rgb(110, 182, 245);
    padding-bottom: 30px;
  }

  .skills_category_language{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto 0;
    text-align: center;
    width: 50%;

  }

  .skills_category_language__top{
    text-align: center;
    display: block;
  
  }
  .skills_category_language__middle{
    text-align: center;
    display: block;
  
  }



  .skills_category_language__under{
    text-align: center;
    display: block;
  
  }

 
  .portfolio_category{
    width: 100%;
    /* height: 9900px; */
    height: 100%;
  }



  .portfolio_category__program1__main{
    display: block;
    /* margin-left: 200px; */
  }
  
  .portfolio_category__program1__main__left{
    width: 100%;
  }

  .portfolio_category__program1__main__right{
    text-align: left;
    margin-left: 70px;
    width: 80%;

  }


  .portfolio_category__program2__main{
    display: block;
    margin-bottom: 20px;
  }
  
  .portfolio_category__program2__main__left{
    width: 100%;
  }

  .portfolio_category__program2__main__right{
    text-align: left;
    margin-left: 70px;
    width: 80%;

  }

  .portfolio_category__program3__main{
    display: block;
    /* margin-left: 200px; */
  }
  
  .portfolio_category__program3__main__left{
    width: 100%;
  }

  .portfolio_category__program3__main__right{
    text-align: left;
    margin-left: 70px;
    width: 80%;

  }

  .portfolio_category__program4__main{
    display: block;
    margin-bottom: 20px;

  }
  
  .portfolio_category__program4__main__left{
    width: 100%;
  }

  .portfolio_category__program4__main__center{
    width: 100%;
  }

  .portfolio_category__program4__main__right{
    text-align: center;
      /* margin-left: 180px; */
      width: 100%;

    }

  .portfolio_category__program4__under {
    display: block;
}

.portfolio_category__program4__under__left__usedskill {
  margin: 50px;
  margin-left: 130px;
  width: 70%;

}

.portfolio_category__program4__main__right__kodawari {
  margin: 50px;
  margin-left: 90px;
  margin-right: 20px;
  width: 100%;
}

  .portfolio_category__program5__main{
    display: block;
    /* margin-left: 200px; */
  }
  
  .portfolio_category__program5__main__left{
    width: 100%;
  }

  .portfolio_category__program5__main__right{
    text-align: left;
    margin-left: 140px;

  }

  .learning__output__log{
    height: 950px;
  }


  .learning__output__log__top{
    display: block;
  }

  .learning__output__log__top__right{
  margin: 40px;  
  }

  .learning__output__log__top__right {
    width: 80%;
}
  
  .learning__output__log__top__left{
    width: 100%;
    text-align: center;
  
  }

  .learning__output__qiita{
    padding-top: 70px;
    height: 900px;
    /* background-color: rgb(244, 249, 250); */

  }
  
  
  .learning__output__qiita__top{
    display: block;
  
  }


  .learning__output__qiita__top__left{
    width: 100%;
    text-align: center;
  
  }

  .learning__output__qiita__top__right{
    margin-top: 20px;
    width: 100%;
  
  }
  .learning__output__qiita__top__right p{
    margin-left: 40px;
    margin-bottom: 10px;
    
    font-weight: bold;
    }
    
    .learning__output__qiita__top__right i{
      margin-left: 63px;
      margin-bottom: 10px;
    
    }
    
    .learning__output__qiita__top__right li{
      margin-left: 83px;
      margin-bottom: 10px;
    
    }
    
    .learning__output__qiita__top__right{
      width: 90%;
    
    }


  .other_activity{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    /* background-color: rgb(255, 255, 255); */
  background-color: rgb(244, 249, 250);
  }

  .learning__output__qiita__image1 img{
    width: 80%;
    height: 270px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px gray;
    margin-left: 0px;
  }


  .join__seminar__first{
    display: block;
  
  
  }
  
  .join__seminar__first__right{
    width: 100%;
    margin-right: 30px;
    margin-top: 10px;
  }
  
  
  .join__seminar__first__left{
    width: 100%;
    text-align: center;
  
  }


  .appealPoint_category{
    width: 100%;
    height: 900px;
    /* background-color: #F5F5F5; */
    background-color: rgb(59, 159, 241);
    overflow: hidden;
  
  }
  
  .appealPoint_category__main{
    display: block;
  
    transform: skewX(-15deg);
    width: 100%;
  
  }
  
  .appealPoint_category__main__left{
    width: 350px;
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 10px;
    margin-top: 40px;
  
  
  }
  
  
  .appealPoint_category__main__center{
    /* width: 25%; */
    width: 350px;
  
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 70px;
    margin-top: 40px;
  }
  .appealPoint_category__main__right{
    /* width: 25%; */
    width: 350px;
  
    /* height: 200px; */
    height: auto;
  
    background-color: #F5F5F5;
    margin-left: 130px;
    margin-top: 40px;
  }
}
 
 
/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) { 

    header{
      display: block;
      width: 100%;
        position: fixed;
        top: 0;
        height: 80px;
        /* background: #f9f9f9; */
        overflow: hidden;
        font-family: 'Lato', sans-serif;
        z-index: 10;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        background: #768cc93d;
        font-size: 10px;
    }
  
    .header_title{
      font-size: 9px;
  
    }
    .header_nav ul li {
      margin-right: 7px;
      /* color: blue; */
      /* text-decoration: none; */
  }
  
  
    .main-visual {
      width: 100%;
      max-width: 1440px;
      /* margin: 80px auto 100px; */
    
      margin-top: -80px;
    
      margin-bottom: 0px;
    
      display: flex;
      flex-direction: row;
      height: 1000px;
      /* height: 20%;  */
    }
    .top__image{
      width:100%;
      position: relative;
      overflow: hidden;
      transform: skewY(-6deg);
    
    }
    
    .top__image img{
      background-image:url(DSC040141.JPG);  /* 画像のURLを指定     */
      background-size:cover;                                 /* 画像のサイズを指定  */
      width:100%;                                            /* 横幅のサイズを指定  */
      height: 790px;
      
    
    
    
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      /* width: 100%; */
      height: 100%;
      /* background-image: linear-gradient(#9437FF, #7A81FF); */
      transform: skewY(6deg);
      transform-origin: top left;
      object-fit: cover;
      object-position: 100% 100%;
    }
    
    
    
    
    .ribbon2 {
      left: 8%;
      top: 180px;
      display: inline-block;
      position: absolute;
      /* position: relative; */
      height: 150px;
      line-height: 60px;
      text-align: center;
      padding: 0px 0;
      font-size: 46px;/*フォントサイズ*/
      background: #78d0f5;/*背景色*/
      color: #FFF;/*文字色*/
      box-sizing: border-box;
      object-fit: cover; 
      transform: skewY(6deg);
    
    }
    
    .top__message {
      /* width: 340px; */
      width: 60%;
      top: 375px;
      /* right: 90px; */
      left: 80px;
      opacity: 1;
      position: absolute;
      background-color: rgba(247, 191, 123, 0.8);
      transform: skewY(6deg);
  
    }
    
    
    .top__message__title{
      color: rgb(243, 49, 49);
      font-size: 24px;
      font-weight: bold;
      margin: 10px;
    }

    h2{
      font-size: 20px;
      margin-left: 20px;
      color: #fcff54;
    }
    
    .top__message__inner {
      width: 100%;
      height: 100%;
      
      margin: 90px;
      margin-top: 12px;
      margin-left: 0px;
      opacity: 2;
      /* position: absolute; */
      background-color: rgba(255,255,200,0.8);
      /* transform: skewY(6deg); */
    
    }
    
  
    .top__message__inner p {
      margin: 20px;
      font-size: 12px;
      padding-top: 20px;
  }
  
  .contact_information__left{
    width: 33%;
    margin-left: 10%;
    padding-top: 100px;
  
  }
  
   
    .aboutme_category{
      /* width: 100%; */
      height: 100%;
      /* overflow: visible; */
    
      margin-top: 40px;
      margin-bottom: 30px;
    }
  
    .main__container__introduction{
      display: block;
      text-align: center;
    }
  
    .main__container__introduction__leftside{
      width: 100%;
  
    }
  
    .main__container__introduction__rightside{
      width: 90%;
      /* text-align: center; */
  
      /* text-align: left; */
      margin-top: 30px;
      margin-left: 20px;
    }
  
    .career__objective {
      margin-top: 20px;
      margin-right: 20px;
  }

    .career__objective__title{
      font-size: 20px;
      margin-bottom: 20px;
      margin-left: 10px;

    }
    
    .career__objective__reason{
      margin-left: 40px;
    }
    
    .career__objective__reason__main{
      margin: 10px 0px;
      margin-left: 40px;
    
    }
    
    .career__objective__reason__first{
      margin-top: 20px;
      margin-left: 40px;
    
    
    }
    
    .career__objective__reason__second{
      margin-top: 30px;
      margin-left: 40px;
    
    }
    
    .career__objective__reason__third{
      margin-top: 30px;
      margin-left: 40px;
    
    }


    .skills_category{
      width: 100%;
      height: 100%;
      background-color: rgb(110, 182, 245);
      padding-bottom: 45px;
    }
  
    .skills_category_language{
      display: block;
      flex-wrap: wrap;
      justify-content: space-around;
      /* margin: 60px auto 0; */
      text-align: center;
      width: 50%;
      margin-left: 50px;
    }
  
    .skills_category_language__top{
      text-align: center;
      display: block;
    
    }
    .skills_category_language__middle{
      text-align: center;
      display: block;
    
    }
  
  
  
    .skills_category_language__under{
      text-align: center;
      display: block;
    
    }
  
   
    .portfolio_category{
      width: 100%;
      /* height: 9900px; */
      height: 100%;
    }
  
  
  
    .portfolio_category__program1__main{
      display: block;
      /* margin-left: 200px; */
    }
    
    .portfolio_category__program1__main__left{
      width: 100%;
    }
  
    .portfolio_category__program1__main__right{
      text-align: left;
      margin-left: 45px;
      width: 80%;
  
    }

    .portfolio_category__program1__main__left__image img{
      width: 325px;
      box-shadow: 2px 2px 4px gray;
    }
    .portfolio_category__program1__main__left__video video{
      width: 325px;
      /* height: auto; */
      box-shadow: 2px 2px 4px gray;
    }
  
  
    .portfolio_category__program2__main{
      display: block;
      margin-bottom: 20px;
    }
    
    .portfolio_category__program2__main__left{
      width: 100%;
    }
  
    .portfolio_category__program2__main__right{
      text-align: left;
      margin-left: 45px;
      width: 80%;
  
    }



    .portfolio_category__program2__main__left__image img{
      box-shadow: 2px 2px 4px gray;
    
      width: 325px;
    }
    
    .portfolio_category__program2__main__left__video video{
      box-shadow: 2px 2px 4px gray;
    
      width: 325px;
    }
  
    .portfolio_category__program3__main{
      display: block;
      /* margin-left: 200px; */
    }
    
    .portfolio_category__program3__main__left{
      width: 100%;
    }
  
    .portfolio_category__program3__main__right{
      text-align: left;
      margin-left: 50px;
      width: 80%;
  
    }

    .portfolio_category__program3__main__left__image img{
      box-shadow: 2px 2px 4px gray;
    
      width: 325px;
    }
    
    .portfolio_category__program3__main__left__video video{
      box-shadow: 2px 2px 4px gray;
    
      width: 325px;
    }
  
    .portfolio_category__program4__main{
      display: block;
      margin-bottom: 20px;
  
    }
    
    .portfolio_category__program4__main__left{
      width: 100%;
    }
  
    .portfolio_category__program4__main__center{
      width: 100%;
    }
  
    .portfolio_category__program4__main__right{
      text-align: center;
        /* margin-left: 180px; */
        width: 100%;
  
      }

      .portfolio_category__program4__main__left__video video{
        box-shadow: 2px 2px 4px gray;
      
        width: 325px;
      }
  
    .portfolio_category__program4__under {
      display: block;
  }
  
  .portfolio_category__program4__under__left__usedskill {
    margin: 50px;
    margin-left: 20px;
    width: 100%;
  
  }
  
  .portfolio_category__program4__main__right__kodawari {
    margin: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }
  
    .portfolio_category__program5__main{
      display: block;
      /* margin-left: 200px; */
    }
    
    .portfolio_category__program5__main__left{
      width: 100%;
    }
  
    .portfolio_category__program5__main__right{
      text-align: left;
      margin-left: 140px;
  
    }

    .portfolio_category__program5__main__left__video video {
      box-shadow: 2px 2px 4px grey;
      width: 325px;
      
    }
  
    .learning__output__log{
      height: 950px;
    }
  
  
    .learning__output__log__top{
      display: block;
    }
  
    .learning__output__log__top__right{
    margin: 40px;  
    }
  
    .learning__output__log__top__right {
      width: 80%;
  }
    
    .learning__output__log__top__left{
      width: 100%;
      text-align: center;
    
    }
  
    .learning__output__qiita{
      padding-top: 70px;
      height: 900px;
      /* background-color: rgb(244, 249, 250); */
  
    }
    
    
    .learning__output__qiita__top{
      display: block;
    
    }
  
  
    .learning__output__qiita__top__left{
      width: 100%;
      text-align: center;
    
    }

    .learning__output__qiita__image1 img {
      width: 80%;
      height: 270px;
      margin-bottom: 10px;
      box-shadow: 2px 2px 4px grey;
      margin-left: 0px;
  }
  
    .learning__output__qiita__top__right{
      margin-top: 20px;
      width: 90%;
    
    }
    .learning__output__qiita__top__right p{
      margin-left: 40px;
      margin-bottom: 10px;
      
      font-weight: bold;
      }
      
      .learning__output__qiita__top__right i{
        margin-left: 63px;
        margin-bottom: 10px;
      
      }
      
      .learning__output__qiita__top__right li{
        margin-left: 83px;
        margin-bottom: 10px;
      
      }
      
  
  
    .other_activity{
      width: 100%;
      height: 100%;padding-bottom: 30px;
  
      /* background-color: rgb(255, 255, 255); */
    background-color: rgb(244, 249, 250);
    }
  
  
  
    .join__seminar__first{
      display: block;
    
    
    }
    
    .join__seminar__first__right{
      width: 100%;
      margin-right: 30px;
      margin-top: 10px;
    }
    
    
    .join__seminar__first__left{
      width: 100%;
      text-align: center;
    
    }

    .join__seminar__first__left__image1 img{
      width: 325px;
      box-shadow: 2px 2px 4px gray;
      object-fit: cover; 
    }

    .join__seminar__first__right p{
      margin-left: 20px;
      margin-bottom: 10px;
      
      font-weight: bold;
      }
    
      .join__seminar__first__right i{
        margin-left: 40px;
        margin-bottom: 10px;
      
      }
    
      .join__seminar__first__right li{
        margin-left: 60px;
        margin-bottom: 10px;
      
      }
    
    
  
  
    .appealPoint_category{
      width: 100%;
      height: 900px;
      /* background-color: #F5F5F5; */
      background-color: rgb(59, 159, 241);
      overflow: hidden;
    
    }
    
    .appealPoint_category__main{
      display: block;
    
      transform: skewX(-15deg);
      width: 100%;
    
    }

    .appeal-sentence{
      width: auto;
      /* height: 200px; */
      height: 150px;
      font-size: 15px;
      margin: 5px;
    margin-top: 20px;
    }

    .appealPoint_category__main__left{
      width: 250px;
      height: 200px;
    
      background-color: #F5F5F5;
      margin-left: -20px;
      margin-top: 40px;
    
    
    }
    
    
    .appealPoint_category__main__center{
      /* width: 25%; */
      width: 250px;
    
      height: 200px;
    
      background-color: #F5F5F5;
      margin-left: 40px;
      margin-top: 40px;
    }
    .appealPoint_category__main__right{
      /* width: 25%; */
      width: 250px;
    
      height: 200px;
    
      background-color: #F5F5F5;
      margin-left: 110px;
      margin-top: 40px;
    }
    
   

}